<div class="container">
    <div class="row">
        <div class="col-md-12" id="titleDiv">
            <h1 id="title">NY Times Scraper</h1>
        </div>
    </div>

    <div class="row" class="linkRow">
        <div class="col-md-4">
            <a href="/articles" class="upper-link">SAVE ARTICLES</a>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary btn-sm" id="scrapeBtn">SCRAPE</button>
        </div>
        <div class="col-md-4">
            <a href="http://www.echojs.com/" class="upper-link">TEST LINK</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="article">

            <h2 class="titleinput">Test</h2>

            <div class="row" id="bottom-row">
                <div class="col-md-6">
                    <a href="" class="bodyinput">Full Story</a>
                </div>

                <div class="col-md-6">
                    <form action="/articles" method="PUT" id="save-article">
                        <input type="hidden" name="id" value="">
                        <button class="btn btn-lg" id="saveBtn" type="submit">SAVE ARTICLE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="wrapper">
    <h1>Note Scraper</h1>
    <a href="/scrape" id="btn-scrape">1. Scrape</a>
    <a href="/articles" id="btn-articles">2. Articles</a>

    <div id="articles"></div>

    <div id="notes"></div>
</div>