<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link" href="/saveArticle">Saved</a>
    </div>
</nav>

<div class="jumbotron text-center">
    <h1 class="display-4">Saved Articles</h1>
    <a class="btn btn-primary btn-lg" id="delete" role="button">Delete Articles</a>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 articles text-center">
            {{#each articles}}
            <div class="card">
                <div class="card-body">
                    <a href={{this.link}}>
                        <h5 class="card-title">{{title}}</h5>
                    </a>
                    <a href="#" class="btn btn-primary" id="removeFromSave" value={{_id}}>Delete Saved</a>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#commentsModal"
                        id="comments" value={{_id}}>Comment</button>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>

<div class="modal fade" id="commentsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-group"></ul>
                <textarea class="form-control" id="newComment" rows="3" placeholder="New comment"></textarea>
            </div>
            <div class="model-footer">
                <button type="button" class="btn btn-primary" id="saveComment">Save comment</button>
            </div>
        </div>
    </div>
</div>